dash==2.6.0
gunicorn
dash==2.5.1
dash-bootstrap-==1.4.1
dash-bootstrap-templates==1.0.8
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-bootstrap-components
dash-bootstrap-components==1.4.1
plotly==5.14.1
plotly-express==0.4.1
pandas==2.0.0
